<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
       <img class="img-fluid" src="/img/expertseo_logo.jpg" alt="expert seo">
    </div>
    <ul class="ul-sidebar-lj list-unstyled">
        {% for category_hash in site.data.category %}
        {% assign category = category_hash %}
        <li>
            <a>{{ category.name }}</a>
            <hr>
            <ul class="list-unstyled" id="">
                {% for title_hash in category.titles %}
                {% assign title = title_hash %}
                <li class="li-sidebar-title-lj">
                    <a href="/">{{ title }}</a>
                </li>
                {% endfor %}
            </ul>
            <hr>
        </li>
        {% endfor %}
    </ul>
    
    <!-- <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul> -->

</nav>